/*
!/.gitignore
!/LICENSE
!/README.md
!/scripts/
!/dist/etrobosim2020_0.992_linux.tar.gz
!/dist/etrobosim2020_0.992_mac.tar.gz
!/dist/etrobosim2020_0.992_win.tar.gz
!/dist/sample_c4.tar.gz
!/make
!/update
!/EV3RT_API_Support.md

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
