/*
!/.gitignore
!/LICENSE
!/README.md
!/scripts/
!/dist/etrobosim2020_0.992_linux.tar.gz
!/dist/etrobosim2020_0.992_mac.tar.gz
!/dist/etrobosim2020_0.992_win.tar.gz
!/dist/settings.json.default
!/dist/sample_c4/
!/dist/etroboc_common/
!/make
!/update
